/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
 background-color: #FFFFFF;
 color: #333;
 margin: 33px;
 font-family: 'Helvetica Neue', sans-serif;
 font-size: 13px;
 line-height: 18px;
}

h1 {
  color: 556888;
}

a:link    { color: #c00; text-decoration: none; }  /* unvisited links */
a:visited { color: #0c0; text-decoration: none; }  /* visited links   */
a:hover   { color: #00c; text-decoration: none; }  /* user hovers     */
a:active  { color: #ccc; text-decoration: none; }  /* active links    */

strong {
  list-style: inline;
  padding: 2px;
  margin-right: 2em;
  margin-bottom: 5em;
  border-style: ridge;
  background-color: #F1F1F1;
}

.top-bar {
  margin-bottom: 3.5em;
}

.album-listing {
  padding-top: 5px;

}
